.movies {
  padding: 60px 10px 80px;
  background-color: #202020;
}

.movies__more-btn {
  width: 240px;
  padding: 10px 20px 9px;
  border: 1px solid #424242;
  border-radius: 5px;
  background-color: #202020;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .movies {
    padding: 60px 30px 80px;
    background-color: #202020;
  }

  .movies__more-btn {
    width: 320px;
  }
}

@media (min-width: 1280px) {
  .movies {
    padding: 80px 70px 80px;
    background-color: #202020;
  }
}