.nav {
  background-color: #202020;
  display: flex;
  justify-content: space-between;
  padding: 18px 14px;
}
.nav_main {
  background-color: #073042;
}

.nav__container {
  display: none;
}

.nav__link {
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  padding-right: 16px;
  text-decoration: none;
  transition: .2s;
}

.nav__link:hover {
  opacity: .85;
}

.nav__link:last-child {
  padding-right: 0;
}

.nav__main-container {
  display: flex;
  align-items: center;
}

.nav__link-reg {
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 14px;
  transition: .2s;
}

.nav__link-reg:hover {
  opacity: .85;
}

.nav__link-log {
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  background-color: #3DDC84;
  border-radius: 3px;
  padding: 5px 12px;
  transition: .2s;
}

.nav__link-log:hover {
  opacity: .85;
}

.nav__logo {
  background-image: url('../../images/logo.svg');
  background-repeat: no-repeat;
  height: 38px;
  width: 38px;
}

.nav__profile-link {
  display: none;
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  align-self: center;
  align-items: center;
  text-decoration: none;
  background-color: #313131;
  border-radius: 20px;
  padding: 0 22px;
  height: 32px;
  transition: .2s;
}

.nav__profile-link:hover {
  opacity: .8;
}

.nav__burger-btn {
  width: 40px;
  height: 43px;
  background: none;
  border: none;
  padding: 0;
  background-image: url(../../images/burgerIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: .2s;
}

.nav__burger-btn {
  opacity: .85;
}

@media (min-width: 768px) {
  .nav {
    padding: 18px 30px;
    
  }
  .nav__burger-btn {
    width: 44px;
    height: 44px;
  }
}

@media (min-width: 1280px) {
  .nav {
    padding: 18px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .nav__container {
    justify-self: center;
    display: flex;
    align-items: center;
  }

  .nav__main-container {
    grid-column: 3 / 4;
    justify-self: end;
  }

  .nav__profile-link {
    display: flex;
    justify-self: flex-end;
  }

  .nav__burger-btn {
    display: none;
  }
}