.saved-movies {
  padding: 60px 10px 80px;
  background-color: #202020;
  flex-grow: 1;
}

.saved-movies__not-found {
  margin: 0;
  padding: 50px 0 0;
  font-family: 'Inter' , 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .saved-movies {
    padding: 60px 30px 80px;
    background-color: #202020;
  }
}

@media (min-width: 1280px) {
  .saved-movies {
    padding: 80px 70px 80px;
    background-color: #202020;
  }
}