.footer {
  background-color: #202020;
  padding: 0 10px;
}

.footer__title {
  mily: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #8B8B8B;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  margin: 0 0 30px;
}

.footer__container {
  padding-bottom: 10px;
}

.footer__link {
  display: block;
  mily: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 12px;
  transition: .2s;
}

.footer__link:hover {
  opacity: .85;
}

.footer__link:last-child {
  padding-bottom: 30px;
}

.footer__year {
  margin: 0;
  mily: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8B8B8B;
}

@media (min-width: 768px) {
  .footer {
    padding: 0 30px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
  }

  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .footer__link-container {
    display: flex;
  }

  .footer__link {
    padding-right: 20px;
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 0;
  }

  .footer__link:last-child {
    padding-right: 0;
    padding-bottom: 0;
  }

  .footer__year {
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding: 0 70px;
  }
}